/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  background-color: rgb(96, 96, 96);
  /* padding: 2rem; */
  background-color: #40a2e4;
}

.title{
  text-align: center;
  font-size: 3rem;
  /* color: rgba(255, 41, 41, 0.769); */
}

.form-area{
  text-align: center;
  /* display: block; */
  /* background-color: green; */
  /* width: 100%; */
  height: auto;
  /* padding: 0.1rem; */
  margin: 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  /* gap: 0rem; */
  justify-content: center;
  align-items: center;
  width: min-content;
  /* background-color: rgba(240, 255, 255, 0.409); */
  background: rgba(251, 251, 251, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  margin: auto;
  padding: 1rem;
  border-radius: 0.3rem;
}

label{
  text-align: left;
  margin-bottom: 0.2rem;
  /* font-weight: bold; */
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  color: rgb(55, 55, 55);

}

.form div {
  /* width: fit-content; */
  /* background-color: red; */
  padding: 0.5rem 3.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.form-input{
  outline: none;
  color: rgb(22, 22, 22);
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  /* text-align: center; */
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  border: 2px solid #8BC6EC;
}

.form-button{
  font-family: 'Poppins', sans-serif;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  align-self: center;
  margin-left: 1rem;
  width: 100%;
  background-color: rgb(230, 230, 230);
  filter: invert(1);
  transition: filter 0.4s ease-in-out;
}

.form-button:hover{
  filter: invert(0);
}

p{
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}

@media (max-width:530px) {

  .form-area{
    padding: 0;
    /* margin-top: 5rem; */
  }

  .form div{
    width: 14rem;
    height: 3.3rem;
  }

  label{
    font-size: 0.8rem;
  }

  .form-input{
    width: 100%;
  }

  
}