.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  padding: 15px 0;
  background: #E84545;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
  /* transform: translate(50%); */
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #9037496a;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
  /* width: vmax; */
}

.keyboard__key {
  color: #2B2E4A;
  height: 45px;
  width: 6%;
  /* min-width: 27px; */
  /* max-width: 90px; */
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  /* background-color: #EEF1FF; */
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  --webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 10%;
  /* max-width: 125px; */
}

.keyboard__key--extra-wide {
  width: 30%;
  /* max-width: 500px; */
}

.keyboard__key--activatable::after {
  content: "";
  top: 5px;
  right: 5px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

@media (max-width: 1400px){
  .keyboard{
    width: 70%;
  }
}

@media (max-width: 1000px){
  .keyboard{
    width: 100%;
  }

  .keyboard__key{
    margin: 2px;
    /* width: 38px; */
    /* height: 70px; */
    font-size: 1.3rem;
  }

  .keyboard__key i{
    font-size: 1rem;
  }

  .keyboard__keys{
    width: 100%;
  }

  .caps{
    font-size: 1rem; 
  }

  .keyboard__key--wide {
    width: 8%;
    /* max-width: 125px; */
  }
}
